<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/cards.css">
    <title>Modify</title>
    {% include 'navbar.html' %}


</head>

<body>



    <div class="grey-bg container-fluid">
        <section id="minimal-statistics">
            <div class="row">
                <div class="col-12 mt-3 mb-1">
                    <h4 class="text-uppercase">MODIFY</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-sm-6 col-12">
                    <div class="card overflow-hidden">
                        <a href="/update_student/">
                            <div class="card-content">
                                <div class="card-body cleartfix">
                                    <div class="media align-items-stretch">
                                        <div class="align-self-center">
                                            <i class="material-icons font-large-2 mr-2"
                                                style="color:var(--orange);">person_outline
                                            </i>

                                        </div>
                                        <div class="media-body">
                                            <h4></h4>
                                            <span></span>
                                        </div>
                                        <div class="align-self-center">
                                            <h3>Student</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-4 col-sm-6 col-12">
                    <div class="card overflow-hidden">
                        <a href="/update_subject/">
                            <div class="card-content">
                                <div class="card-body cleartfix">
                                    <div class="media align-items-stretch">
                                        <div class="align-self-center">
                                            <i class="material-icons font-large-2 mr-2"
                                                style="color: var(--pink);">library_books</i>

                                        </div>
                                        <div class="media-body">
                                            <h4></h4>
                                            <span></span>
                                        </div>
                                        <div class="align-self-center">
                                            <h3>Subject</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-xl-4 col-sm-6 col-12">
                    <div class="card overflow-hidden">
                        <a href="/update_performance/">
                            <div class="card-content">
                                <div class="card-body cleartfix">
                                    <div class="media align-items-stretch">
                                        <div class="align-self-center">
                                            <i class="material-icons font-large-2 mr-2"
                                                style="color: var(--blue);">lightbulb_outline</i>

                                        </div>
                                        <div class="media-body">
                                            <h4></h4>
                                            <span></span>
                                        </div>
                                        <div class="align-self-center">
                                            <h3>Performance</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </section>
    </div>




</body>

</html>